[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/home/xchi/Malted/dve.sh
Icon=/home/xchi/Malted/MaltedSmallImage.png
Path=/home/xchi/Malted
Name=Editor Malted
Categories=X-Mandrakelinux-MoreApplications;Education